
<%- contentFor('main') %>
  <div class="section">
    <div class="container w-container"><img src="images/UzWklzFdRBSbkRKhEnvc_1-6128.jpg" srcset="images/UzWklzFdRBSbkRKhEnvc_1-6128-p-500x334.jpeg 500w, images/UzWklzFdRBSbkRKhEnvc_1-6128-p-800x534.jpeg 800w, images/UzWklzFdRBSbkRKhEnvc_1-6128-p-1080x721.jpeg 1080w, images/UzWklzFdRBSbkRKhEnvc_1-6128.jpg 1300w" sizes="(max-width: 767px) 100vw, (max-width: 991px) 728px, 940px" class="galleryimage"></div>
  </div>
  